{% load static %}

<!-- ***** Features Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        
                <div class="section-heading" style="margin-top:120px;">
                    <h2>HAKKIMIZDA</h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <p>Neos Yazılım Akademi, Yazılım Mühendisi ve eğitmen Duhan Gökkaya tarafından İstanbul merkezli olarak kurulmuş bir online (canlı) yazılım akademisidir. Uluslararası ISO stadartlarında akredite olan kurumumuz; öğrencilerine ICCW, Altınbaş Üniversitesi, Ayvansaray Üniversitesi, Gedik Üniversitesi, Gebze Teknik Üniversitesi ve Kıbrıs İlim Üniversitesi işbirliğiyle faaliyet göstermekte ve üniversite onaylı sertifikasyon yapmaktadır.</p>
                    <p>Uzaktan-canlı olarak gerçekleştirdiğimiz eğitimlerimizde; öğrencilerimizin yüz yüze eğitim için yolda harcayacağı zamanı proje geliştirerek kullanmalarını ve remote çalışma prensibine alışmalarını sağlayarak, yüz yüze eğitimin gerekliliği konusundaki önyargıyı ortadan kaldırıp zaten dijital olan yazılım mesleğini en doğru yerde, yani dijitalde öğrenmelerini sağlamaktayız. Bu sayede yalnızca büyükşehirlerden değil, ülkemizin her yerinden ve her yaştan yazılıma ilgi duyan katılımcılarımıza en kaliteli eğitimleri sunmaktayız. Sunduğumuz eğitimlerin canlı video kayıtlarını alarak her ders sonrası öğrencilerimize iletmekte, hayatın yoğunluğu içerisinde zaman zaman kaçırabileceğiniz canlı dersleri sonradan izleyip eğitmen ile ders dışında da iletişimde kalmanızı teşvik etmekteyiz.</p>
                    <p>Neos Akademi bünyesindeki Yazılım Eğitimlerinin müfredatları uluslararası standartları karşılamakta olup, Bilgisayar Mühendisi ve Yazılım Mühendisi eğitmenlerimiz ve Duhan Gökkaya tarafından "herkes için öğrenilebilir" olması misyonuyla hazırlanmıştır. Eğitimlerimizi herkes için öğrenilebilir kılan özelliklerden bir diğeri; görevini adanmışlık duygusuyla yerine getiren eğitmen ve danışman kadromuzun 7/24 öğrencilerimizin gelişimi için çalışmasıdır. Akademi bünyesindeki eğitim programlarından herhangi bir tanesine kayıtlı olan öğrenci, dilediği zaman eğitmeninden bireysel destek alabilmektedir. </p>
                    <p>Eğitim programlarımız yalnızca canlı dersleri değil; ödev, quiz, projeler, mentörlük desteği, sektör simülasyonu ve staj desteğini de kapsamaktadır. Akademimizdeki eğitim programları gerçek anlamda sektörde yer alacak Yazılım Uzmanları yetiştirme misyonuyla hazırlanmış olup, Türkiye'de ilk kez Neos Yazılım tarafından geliştirilen <b>sektör simülasyonu</b> ile, öğrencilerimizle bireysel mülakatlar gerçekleştirmekte ve bu sayede iş hayatında karşılaşacakları durumları deneyimleyerek kendinden emin yazılımcılar olarak mezun olmalarını sağlamaktayız.</p>

                    <p>Neos Yazılım Akademi olarak yalnızca Türkiye'de değil, Avrupada da ingilizce eğitimlerle faaliyet göstermekteyiz.</p>

                </div>
            
        
<!-- Team -->
