{% load static %}
    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading" style="margin-top:120px;">
                        <h2><em>NEOS</em> YAZILIM AKADEMİ AKREDİTASYONLARI</h2>
                        <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                        <p>Neos Yazılım Akademi 5 Üniversite ile işbirliği içerisinde eğitimler düzenlemekte ve ICCW Uluslararası Akreditasyon Kurumu ile akredite eğitimler düzenlemektedir. Gerçekleşen eğitimler tüm dünyada geçerli standartlarda işlenmektedir.<br><small>*Verilen sertifikalar eğitimlere göre değişkenlik göstermektedir. Katılacağınız eğitimin hangi sertifikayı sağladığını eğitim detaylarından inceleyebilirsiniz</small></p>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-4 col-md-6 col-12">

                <div class="card urun-card">
                  <img src="{% static '' %}assets/images/iccw.png" alt="Yazılım Uzmanlığı" style="width:100%">
                  <div class="card-content">
                      <h5>ICCW SERTİFİKASI</h5>
                      <p>Kurumumuz; Amerikan ISO Standartlarında eğitim vermekte olup, eğitim sonunda öğrencilerimize Uluslararası geçerli ICCW sertifikası verme yetkinliğine sahiptir</p>
                  </div>
                </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card urun-card">
                      <img src="{% static '' %}assets/images/gedik.png" alt="Yazılım Uzmanlığı" style="width:100%">
                      <div class="card-content">
                          <h5>GEDİK ÜNİVERSİTESİ</h5>
                          <p>Kurumumuz bünyesinde düzenlenen eğitimlerin sonunda, işbirliği içerisinde olduğumuz Gedik Üniversitesinden rektör imzalı ve e-devlette sorgulanabilir üniversite sertifikası vermekteyiz</p>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card urun-card">
                      <img src="{% static '' %}assets/images/altinbas.png" alt="Yazılım Uzmanlığı" style="width:100%">
                      <div class="card-content">
                          <h5>ALTINBAŞ ÜNİVERSİTESİ</h5>
                          <p>Kurumumuz bünyesinde düzenlenen eğitimlerin sonunda, işbirliği içerisinde olduğumuz Altınbaş Üniversitesinden rektör imzalı ve e-devlette sorgulanabilir üniversite sertifikası vermekteyiz</p>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card urun-card">
                      <img src="{% static '' %}assets/images/ayvansaray.png" alt="Yazılım Uzmanlığı" style="width:100%">
                      <div class="card-content">
                          <h5>AYVANSARAY ÜNİVERSİTESİ</h5>
                          <p>Kurumumuz bünyesinde düzenlenen eğitimlerin sonunda, işbirliği içerisinde olduğumuz Ayvansaray Üniversitesinden rektör imzalı üniversite onaylı sertifika vermekteyiz</p>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card urun-card">
                      <img src="{% static '' %}assets/images/kibris.png" alt="Yazılım Uzmanlığı" style="width:100%">
                      <div class="card-content">
                          <h5>KIBRIS İLİM ÜNİVERSİTESİ</h5>
                          <p>Kurumumuz bünyesinde düzenlenen eğitimlerin sonunda, işbirliği içerisinde olduğumuz Kıbrıs İlim Üniversitesinden rektör imzalı üniversite onaylı sertifika vermekteyiz</p>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card urun-card">
                      <img src="{% static '' %}assets/images/gebze.png" alt="Yazılım Uzmanlığı" style="width:100%">
                      <div class="card-content">
                          <h5>GEBZE TEKNİK ÜNİVERSİTESİ</h5>
                          <p>Kurumumuz bünyesinde düzenlenen eğitimlerin sonunda, işbirliği içerisinde olduğumuz Gebze Teknik Üniversitesinden rektör imzalı üniversite onaylı sertifika vermekteyiz</p>
                      </div>
                    </div>
                </div>  
       
            </div>         
            
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

  
    <!-- ***** Call to Action End ***** -->
