{% load static %}

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav" >
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo"><img src="{% static 'assets/images/logo.png' %}" style="width:150px"></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/"  class="active">ANASAYFA</a></li>
                        <li class="scroll-to-section"><a href="/egitimler/">EĞİTİMLER</a></li>
                        <li class="scroll-to-section"><a href="/akreditaston/">AKREDİTASYON</a></li>
                        <li class="scroll-to-section"><a href="/hakkimizda/">HAKKIMIZDA</a></li>
                        <li class="scroll-to-section"><a href="/iletisim/">İLETİŞİM</a></li> 
                        <li class="scroll-to-section"><a href="/sss/">SSS</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->