{% load static %}
<!-- ***** Main Banner Area Start ***** -->
  

  <div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'assets/images/video.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>YÜKSEK NİTELİKLİ CANLI EĞİTİM SINIFLARI</h6>
            <h2>NEOS <em>YAZILIM</em> AKADEMİ</h2>
            <div class="main-button scroll-to-section">
                <a href="#features">EĞİTİMLER</a>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->